In [3]:
import pandas as pd
df = pd.read_csv('parks.csv', index_col=['Park Code'])
df.columns = [col.replace(' ', '_').lower() for col in df.columns]
display(df.head())

                        park_name state   acres  latitude  longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50
BIBE       Big Bend National Park    TX  801163     29.25    -103.25
BISC       Biscayne National Park    FL  172924     25.65     -80.08

Toon de eerste 5 rijen van de dataframe

In [8]:
df.iloc[:5]

                        park_name state   acres  latitude  longitude
Park Code
ACAD         Acadia National Park    ME   47390     44.35     -68.21
ARCH         Arches National Park    UT   76519     38.68    -109.57
BADL       Badlands National Park    SD  242756     43.75    -102.50
BIBE       Big Bend National Park    TX  801163     29.25    -103.25
BISC       Biscayne National Park    FL  172924     25.65     -80.08

Toon rij 15 tem 20 van de dataframe

In [9]:
df.iloc[15:20]
# moet tot 21 zijn !

,park_name,state,acres,latitude,longitude
Park Code,,,,,
DEVA,Death Valley National Park,"CA, NV",4740912,36.24,-116.82
DRTO,Dry Tortugas National Park,FL,64701,24.63,-82.87
EVER,Everglades National Park,FL,1508538,25.32,-80.93
GAAR,Gates Of The Arctic National Park and Preserve,AK,7523898,67.78,-153.30
GLAC,Glacier National Park,MT,1013572,48.80,-114.00

Wat is de naam van het park met code GRSA?

In [11]:
df.loc['GRSA', 'park_name']

'Great Sand Dunes National Park and Preserve'

Hoeveel aren hebben de parken GRSA, YELL en BADL samen?

In [14]:
area = df.loc[['GRSA','YELL','BADL'],'acres'].sum()
area

2505531

Hoeveel parken zijn kleiner dan 10 000 are?

In [23]:
print(len(df.loc[df.loc[:,'acres']<10000]))
# true = 1 dus kan gewoon geteld worden
# count --> telt aantal waarden (die niet NaN zijn)

1

Liggen er meer parken ten weste of ten ooste van de mississippi (je mag voor de eenvoud veronderstellen dat de mississippi van noord naar zuid loopt over de longitude -90).

In [32]:
west = len(df.loc[df.loc[:,'longitude']<(-90)])
east = len(df.loc[df.loc[:,'longitude']>(-90)])
if west > east:
    print(west, '(West)', '>', east, '(East)')
else:
    print(east, '(East)', '<=', west, '(West)')

46 (West) > 10 (East)

### Advanced
Geef het kleinste park dat groter is dan Yellowstone

In [47]:
area_yell = df.loc['YELL', 'acres']
print(area_yell)
df_greater = df.loc[df.loc[:,'acres']>area_yell]
print(df_greater)
print(df_greater.loc[:,'acres'].idxmin())

2219791
                                                park_name   state    acres  \
Park Code
DENA                    Denali National Park and Preserve      AK  3372402
DEVA                           Death Valley National Park  CA, NV  4740912
GAAR       Gates Of The Arctic National Park and Preserve      AK  7523898
GLBA               Glacier Bay National Park and Preserve      AK  3224840
KATM                    Katmai National Park and Preserve      AK  3674530
LACL                Lake Clark National Park and Preserve      AK  2619733
WRST       Wrangell - St Elias National Park and Preserve      AK  8323148

           latitude  longitude
Park Code
DENA          63.33    -150.50
DEVA          36.24    -116.82
GAAR          67.78    -153.30
GLBA          58.50    -137.00
KATM          58.50    -155.00
LACL          60.97    -153.42
WRST          61.00    -142.00
LACL

Wat is de naam van het grootste park buiten Alaska

Hoeveel parken liggen op staatsgrenzen (zie bvb park YELL als voorbeeld).

Hoeveel aren bestrijken alle parken in de staten ID, WY en MT samen?