In [32]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
print(data.index)
print(data.items)

In [5]:
def fib():   
    i = 1
    j = 0
    k = 1
    yield(j)
    yield(k)
    while True:
        l = j + k
        j = k
        k = l
        yield(l)

for n, x in enumerate(fib()):
    print(x)
    if n == 1:
        break

0
1

In [16]:
dictionary = {'California':38332521, 'Texas':26448193, 'New York':19651127, 'Florida':19552860, 'Illinois':12882135}
states_pop = pd.Series(dictionary)
print(states_pop)
states_pop[0:3]
states_pop['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
<bound method Series.sort_index of California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64>

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [28]:
states_area = pd.Series({'California':423967, 'Texas':170312, 'New York':149995, 'Florida':141297, 'Illinois':695662})
states = pd.DataFrame({'Population':states_pop, 'Area':states_area})
print(states)

            Population    Area
California    38332521  423967
Texas         26448193  170312
New York      19651127  149995
Florida       19552860  141297
Illinois      12882135  695662