In [36]:
import numpy as np
import pandas as pd
import os
import string

In [8]:
type(np.nan)

float

In [9]:
area = pd.Series({'California':423967, 'Texas': 695662, 'NY': 141297, 'Florida': 170312, 'Illinois': 149995})
pop = pd.Series({'California':38332521, 'Texas': 26448193, 'NY': 19651127, 'Florida': 19552860, 'Illinois': 12882135})
df= pd.DataFrame({'area':area, 'population':pop})
df['density'] = df['population']  / df['area']
df

              area  population     density
California  423967    38332521   90.413926
Texas       695662    26448193   38.018740
NY          141297    19651127  139.076746
Florida     170312    19552860  114.806121
Illinois    149995    12882135   85.883763

In [10]:
df_mask = df.copy()
df_mask.iloc[:,:] = np.random.randint(0,2, (5,3)).astype(bool)
df_mask

            area  population  density
California  True       False    False
Texas       True        True     True
NY          True       False     True
Florida     True        True    False
Illinois    True       False     True

In [22]:
df.where(df_mask, np.nan, inplace=True)

In [23]:
df.dropna(how='any')

         area  population   density
Texas  695662  26448193.0  38.01874

In [30]:
print(df)
df.fillna(method='ffill', axis='columns')

              area  population     density
California  423967         NaN         NaN
Texas       695662  26448193.0   38.018740
NY          141297         NaN  139.076746
Florida     170312  19552860.0         NaN
Illinois    149995         NaN   85.883763

                area  population       density
California  423967.0    423967.0  4.239670e+05
Texas       695662.0  26448193.0  3.801874e+01
NY          141297.0    141297.0  1.390767e+02
Florida     170312.0  19552860.0  1.955286e+07
Illinois    149995.0    149995.0  8.588376e+01

In [34]:
os.getcwd()
#pad = os.path.join("dir1", "dir2")
#os.chdir --> veranderen naar andere directory
#os.makedirs --> meerdere subdirs aanmaken in 1 operatie ; optie "exist_ok=True dan enkel onbestaande subdirs aanmaken"
#os_listdir() --> lijst van bestanden en subdirs in opgegeven dir
#je kan ook zoeken in Windows Credentials Manager (bv. voor pw om aan te loggen in db)

'C:\\Users\\ledegra\\Documents\\SyntraDataScience\\Pandas'

In [39]:
print(string.ascii_uppercase)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [59]:
os.makedirs('alfabet', exist_ok=True)
os.chdir('alfabet')
os.chdir('C:\\Users\\ledegra\\Documents\\SyntraDataScience\\Pandas')

In [50]:
for letter in string.ascii_uppercase:
    os.makedirs(letter, exist_ok=True)

In [51]:
ord('A')   #ascii code voor hoofdletter A

65

In [52]:
chr(ord('A'))

'A'

In [79]:
#with open('parks.csv', mode='r') as read_parks:
#    df_parks = pd.read_csv(read_parks)

with open('species.csv', mode='r') as read_species:
    df_species = pd.read_csv(read_species)

#df_species = pd.read_csv('species.csv')
print(df_species)

UnicodeDecodeError: 'charmap' codec can't decode byte 0x8d in position 77650: character maps to <undefined>

In [62]:
os.getcwd()

'C:\\Users\\ledegra\\Documents\\SyntraDataScience\\Pandas'